{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "> 5%"],
        "node": "6.10",
        "uglify": false,
        "useBuiltIns": false
      }
    }],
    "react"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
